@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset visual e cor base */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f9fafb; /* cinza-claro */
  color: #1f2937; /* texto cinza escuro */
  font-family: 'Inter', sans-serif;
}

/* Corrige cor padrão para modo claro */
:root {
  color-scheme: light;
}

body {
  background-color: #f9fafb;
  color: #1f2937;
  font-family: 'Inter', sans-serif;
}

